<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <script
            src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
            crossorigin="anonymous"></script>
</head>
<body style="padding-bottom:58px">
<form class="task-form">
    <input type="text" name="description" autofocus required>
    <button class="submit">Добавить</button>
</form>
<ol class="task-list">

</ol>
<script src="/scripts/script.js"></script>
</body>
</html>